<div class="container prose max-w-xl m-2 lg:m-4">
  <h1>Posts</h1>

  <div class="grid grid-cols-1">
    <div class="container">
      <% @posts.each do |post| %>
        <div class="rounded p-2 m-2 lg:p-4 lg:m-4">
          <div class="">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.content %></p>
          </div>
          <div class="text-sm text-slate-300">
            <i><%= link_to post.created_at, posts_path(post), class: 'small text-muted' %></i><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
