<div class="container prose p-2 lg:p-4 pt-2 md:pt-4 md:m-4 w-full min-w-full">

  <h3><%= @post.title %></h3>

  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post), class: '' %> |
  <%= link_to 'Back', posts_path, class: '' %>

</div>
