<div class="prose pt-2 md:pt-4 md:m-4 w-full min-w-full">
  <h1 class="text-center">About</h1>
  <p class="text-center">Links to social references, fun projects and current work</p>
  <div class="grid grid-cols-2 md:grid-cols-4 w-full text-center not-prose place-items-center content-center">
    <a class="" href="https://github.com/cmbaldwin">github</a>
    <a class="" href="https://stackoverflow.com/users/6759431/mudl">stackoverflow</a>
    <a class="" href="https://soundcloud.com/mudl">soundcloud</a>
    <a class="" href="https://mudl.bandcamp.com/">bandcamp</a>
    <a class="" href="https://www.flickr.com/photos/defref/">photos</a>
    <a class="" href="https://twitter.com/codybaldwin">twitter</a>
    <a class="" href="https://samuraioyster.com">samurai oyster</a>
    <a class="" href="https://oystersisters.com">oyster sisters</a>
  </div>
  <div class="max-w-xl container m-auto">
    <h2 class="text-center">
      <%= @post.title %>
    </h2>
    <p>
      <%= @post.content %>
    </p>
  </div>
</div>